<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Show Data</title>
</head>

<body>
    <h1>Contact List</h1>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Phone Number</th>
                <th>Email</th>
            </tr>
        </thead>
        <tbody>
            {{#each contacts}}
            <tr>
                <td>{{name}}</td>
                <td>{{phone_no}}</td>
                <td>{{email}}</td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</body>

</html>